@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  background: #f8fafc;
}

.glass-panel {
  background: rgba(255,255,255,.35);
  backdrop-filter: blur(12px);
}

.hero-gradient{
  background: linear-gradient(
      135deg,
      #f8fafc 0%,
      #eef2ff 50%,
      #dbeafe 100%
  );
}